**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
auth.json
gcp-build.yaml
gcp-create-user.yaml
gcp-deploy.yaml
gcp-migrate.yaml
.env
.env-dist
Makefile
requirements-dev.txt